//color
$appBackground: #e3e7ed;
$movieBoxShadow: #d5d6dc;
$movieBoxShadowHover: #aeaeae;
$movieBackground: #f3f4f7;
$movieButton: #dc7777;
$modalOutside: #000000a3;
$modalContentBoxShadow: #474444;
$modalContentBackground: #ffffff;
$searchBoxBorder: #e6e6e6;